<div class="loader"></div>
<div class="main" id="powertrain">

    <!-- slider -->
    <header  class="header-part">
        <div id="powertrain" class="wrapper">
            <!-- Fixed navbar -->
            <div class="navi navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <a href="#menu">
                            <button type="button" data-effect="st-effect-1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </a>
                        <a class="navbar-brand" href="index.html"><h1>{{make}}</h1></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse pull-right hidden-xs">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a class="page-scroll" href="#home">Home</a></li>
                            <li> <a class="page-scroll" href="#about">about us</a></li>
                            <li> <a class="page-scroll" href="#services">services</a></li>
                            <li> <a class="page-scroll" href="#product">product</a></li>
                            <li> <a class="page-scroll" href="#team">team</a></li>
                            <li class="dropdown"> <a class="page-scroll drop dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#blog">blog</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="blog-full-width.html">full-width Blog</a></li>
                                    <li><a href="blog-sidebar.html">sidebar blog</a></li>
                                </ul>
                            </li>

                            <li><a class="page-scroll" href="#contact">Contact</a></li>
                            <!-- Search Block -->
                            <li>
                                <i class="search fa fa-search search-btn"></i>
                                <div class="search-open" style="display:none;" >
                                    <div class="input-group animated fadeInDown" >
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                          <button class="btn-u" type="button">Go</button>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Search Block -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div><!-- End of Nav -->
        </div>
    </header>
    <!-- OUR TEAM -->
    <section id="team" class="configuration-steps section-padding">
        <div class="container">
            <div class="header">
                <h1>Config step 1</h1>
            </div>

            <div class="slider">
                <div on-handle-up="filterOptions()" range-slider attach-handle-values="true" show-values="true" filter="currency:'$':0" step="100" min="filtersSelections.minPrice" max="filtersSelections.maxPrice" model-min="budget.min" model-max="budget.max"></div>
            </div>
            <div class="filter-configuration-steps">
                <div class="row">
                    <div class="col-xs-3 filter-section">
                        <h2 class="filter-header">Fuel Type</h2>
                        <ul class="list-unstyled">
                            <li  ng-repeat="fuelType in filtersSelections.fuelType">
                                <input type="checkbox" value="{{fuelType.value}}" ng-disabled="!fuelType.enable"/>
                                <span>{{fuelType.value}}</span>&nbsp &nbsp
                                <img ng-if="!fuelType.enable" src="app/images/isample.png" ng-mouseover="iHoverEvent()" ng-mousemove="iMoveEvent($event)" class="masterTooltip" title="This Criteria is not compatible with price range chosen.To reactivate, Please move again the price slider." style="width:1em; height:1em;"></img>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3 filter-section">
                        <h2>Engine Capacity</h2>
                        <ul class="list-unstyled">
                            <li  ng-repeat="engineCapacity in filtersSelections.engineCapacity">
                                <input type="checkbox" value="{{engineCapacity.value}}" ng-disabled="!engineCapacity.enable"/>
                                <span>{{engineCapacity.value}}</span>&nbsp &nbsp
                                <img ng-if="!engineCapacity.enable" src="app/images/isample.png" ng-mouseover="iHoverEvent()" ng-mousemove="iMoveEvent($event)" class="masterTooltip " title="This Criteria is not compatible with price range chosen.To reactivate, Please move again the price slider." style="width:1em; height:1em;"></img>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3 filter-section">
                        <h2>Transmission</h2>
                        <ul class="list-unstyled">
                            <li  ng-repeat="transmission in filtersSelections.transmission">
                                <input type="checkbox" value="{{transmission.value}}" ng-disabled="!transmission.enable"/>
                                <span>{{transmission.value}}</span>&nbsp &nbsp
                                <img ng-if="!transmission.enable" src="app/images/isample.png" ng-mouseover="iHoverEvent()" ng-mousemove="iMoveEvent($event)" class="masterTooltip" title="This Criteria is not compatible with price range chosen.To reactivate, Please move again the price slider." style="width:1em; height:1em;"></img>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- container -->
    </section><!-- our team -->

    <!-- footer -->
    <footer >
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="wow zoomIn col-xs-12">
                        <p>© 2015 All rights reserved. <span>techgut</span> theme by <a href="http://themerole.com">themerole</a></p>
                        <div class="backtop  pull-right">
                            <i class="fa fa-angle-up back-to-top"></i>
                        </div><!-- /.backtop -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.creditwrapper -->
    </footer><!-- /Footer -->

</div><!-- /.main -->
