<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<div class="main">
    <header  class="header-part">
        <div id="home">
            <!-- Fixed navbar -->
            <nav-bar></nav-bar>
            <div class="container">
                <div class="row bs-wizard" style="border-bottom:0;">

                    <div class="col-xs-2 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum">Power</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">How much power the budget can buy?</div>
                    </div>

                    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Trim</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Choose your grade</div>
                    </div>

                    <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Style</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Time to narrow down the choice</div>
                    </div>

                    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                        <div class="text-center bs-wizard-stepnum">Color & Interior</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Choose your color</div>
                    </div>
                    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                        <div class="text-center bs-wizard-stepnum">Accessories</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Finishing touches</div>
                    </div>
                    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                        <div class="text-center bs-wizard-stepnum">Services</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center">Order your peace of mind</div>
                    </div>

                </div>

            </div>
        </div>
    </header>
    <section class="blog-sidebar">
        <div class="container">
            <div class="row">
                <div class="wow zoomIn col-xs-4">
                    <div class="sidebar-blog-content" Style="width: 360px;height: 500px;border: 1px solid #000;float: left;padding: 100px 0px 50px 0px;">
                        <div>
                            <div>
                                <img class="img-responsive" Style="width: 360px;height: 200px;" ng-src="{{selectedImage}}" alt="blog-image01"/>
                            </div>
                        </div><!-- row -->
                    </div><!-- sidebar-blog-content -->
                </div>
                <div class="wow zoomIn col-xs-4"> <!-- col-xs-12 col-sm-12 col-md-4  -->
                    <div class="sidebar" style="margin:0px;">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                Configurations
                            </a>
                            <div>
                                <a href="#" class="list-group-item">
                                    {{VehicleConfiguration.variantName}} : {{VehicleConfiguration.variantPrice}}
                                    <div Style="float:right;">
                                        <span name="ServicePrice " value={{VehicleConfiguration.variantPrice}} Style="color: black;font-weight: bold;">{{services.service1.price | currency}}</span>
                                        <span title="Sample">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div><!-- /.list-group -->
                    </div><!-- sidebar -->
                </div>
                <div class="wow zoomIn col-xs-4">
                    <div class="sidebar" style="margin:0px;">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                What's Next ?
                            </a>

                            <a href="#" class="list-group-item">
                                {{warantee.warantee1.description}}
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">{{warantee.warantee1.price | currency}}</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                {{warantee.warantee2.description}}
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">{{warantee.warantee2.price | currency}}</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                {{warantee.warantee3.description}}
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">{{warantee.warantee3.price | currency}}</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                        </div><!-- /.list-group -->
                    </div>
                </div>
                </div><!-- container -->
    </section>

    <!-- footer -->
    <div class="clearfix"></div>
    <!-- footer -->
    <custom-footer show-button="true" next-click="next()"></custom-footer>
    <!-- MMENU  -->
</div><!-- /.main -->
