<div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="option in options" ng-if="options.length">
            <div class="thumbnail" ng-click="selectTrim(trim.styleId)" style="height: 200px; margin-top: 40px; overflow: scroll;" ng-style="{ backgroundColor: trimselected.styleid == trim.styleId ? '#fbe8aa' : 'white'}">

                <label for="{{trim.styleId}}">
                    <input ng-hide="true" type="checkbox" ng-model="trimselected.styleid" id="{{trim.styleId}}" ng-true-value="{{trim.styleId}}" ng-false-value="" style="float:left"/>
                    <div class="caption" style="cursor: pointer">
                        <h2>{{option.name}}</h2>
                        <p>{{option.price.baseMSRP | currency}}.</p>
                        <hr>
                        <div>
                            <h3>Features</h3>
                            <h4>{{option.description}}</h4>
                            <!--
                            <h4 ng-repeat="attribute in option.attributes">
                                {{attribute.name}} : {{attribute.value}}
                            </h4>
                            -->
                            <br/>
                        </div>

                        <!-- <p>
                            <a href="#" class="btn btn-default">More Info</a>
                        </p> -->
                    </div>
            </div>
        </div>
 <br />

    </div>
    <div ng-if="!options.length">
        Not Available .....
        </div>
    <div class="clearfix"></div>
    <div class="pull-right continue">
        <button type="button" class="btn btn-danger" ng-click="next();">Continue <i class="fa fa-chevron-right"></i></button>
    </div>
</div><!-- container -->
