<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>TechGut</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Revolution css -->
    <link rel="stylesheet" type="text/css" href="vendor/rs-plugin/css/settings.css" media="screen"/>
    <link rel="stylesheet" href="vendor/rs-plugin/css/extralayer.css">

    <!-- Flat icon css -->
    <link rel="stylesheet" href="vendor/flat-icon/flaticon.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">

    <!-- Owl Carosel css -->
    <link rel="stylesheet" href="vendor/owl/css/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl/css/owl.theme.default.css">
    <link rel="stylesheet" href="vendor/owl/css/owl.theme.css">

    <!-- mmenu -->
    <link type="text/css" rel="stylesheet" href="vendor/mmenu/css/jquery.mmenu.css" />

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">

    <!-- Animate css -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- Custom Style css -->
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')
    </script>
    <![endif]-->
</head>
<body>

<div class="main">
    <header  class="header-part">
        <div id="home">
            <!-- Fixed navbar -->
            <div class="navi navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <a href="#menu">
                            <button type="button" data-effect="st-effect-1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </a>
                        <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="TechGut"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse pull-right hidden-xs">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a class="page-scroll" href="index.html">Home</a></li>
                            <li> <a class="page-scroll" href="index.html">about us</a></li>
                            <li> <a class="page-scroll" href="index.html">services</a></li>
                            <li> <a class="page-scroll" href="index.html">product</a></li>
                            <li> <a class="page-scroll" href="index.html">team</a></li>
                            <li class="dropdown"> <a class="page-scroll drop dropdown-toggle" ata-toggle="dropdown" role="button" aria-expanded="false" href="index.html">blog</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="blog-full-width.html">full-width Blog</a></li>
                                    <li><a href="#">sidebar blog</a></li>
                                </ul>
                            </li>
                            <li><a class="page-scroll" href="index.html">Contact</a></li>
                            <!-- Search Block -->
                            <li>
                                <i class="search fa fa-search search-btn"></i>
                                <div class="search-open" style="display:none;" >
                                    <div class="input-group animated fadeInDown" >
                                        <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Search Block -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div><!-- End of Nav -->
        </div>
    </header>

    <!--   Start Blog with Sidebar   -->

    <section class="blog-header section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="section-title">all blog post</h1>
                </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.blog-header -->


    <section class="blog-sidebar">
        <div class="container">
            <div class="row">
                <h1>Choose Your Color</h1>
                <p>Pick out your favourite color and admire then admire your choice.</p>

                <div class="side-blog-content">
                    <div class="sidebar-blog-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <img class="img-responsive" src="{{modelImage}}" alt="blog-image01"/>
                            </div>
                        </div><!-- row -->
                    </div><!-- sidebar-blog-content -->
                </div>

                <div class="side-blog-content">
                    <div class="wow zoomIn col-xs-12 col-sm-12 col-md-4 "> <!-- col-xs-12 col-sm-12 col-md-4  -->
                        <div class="blog-sidebar sidebar">
                            <div class="sidebar-heading">
                                Exterior Colors
                            </div>
                            <ul>
                                <li ng-repeat = "color in exteriorColors.options" style="display: inline-block;background-color:{{color.colorChips.hex}};padding: 0px 10px 30px 10px;" onload="fun();">
                                    <a href="#">Color</a>
                                    <div style="align-items: center;padding: 5px 0px 5px 20px;">
                                        <input type="radio" name={{color.name}} value={{color.name}}>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- blog-sidebar -->
                    </div>

                    <div class="wow zoomIn col-xs-12 col-sm-12 col-md-4 "> <!-- col-xs-12 col-sm-12 col-md-4  -->
                        <div class="blog-sidebar sidebar">
                            <div class="sidebar-heading">
                                Interior Colors
                            </div>
                            <ul>
                                <li ng-repeat = "color in interiorColors.options" style="display: inline-block;background-color:{{color.colorChips.hex}};padding: 0px 10px 30px 10px;">
                                    <a href="#">Color</a>
                                    <div style="align-items: center;padding: 5px 0px 5px 20px;">
                                        <input type="radio" name={{color.name}} value={{color.name}}>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- blog-sidebar -->
                    </div>
                </div>

                <div class="text-right" style="float: left;padding: 30px 100px 30px 400px;">
                    <button type="button" class="btn btn-danger" ng-click="next();"><i class="fa fa-link"></i>Continue</button>
                </div>


            </div><!-- row -->
        </div><!-- container -->
    </section>

    <!-- footer -->
    <footer >
        <div class="footer-wrapper section-padding">
            <div class="container">
                <div class="row">
                    <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                        <a href="index.html"><img src="img/footer-logo.png" alt="TechGut"></a>
                        <p class="footer-content">Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                    <div class="wow zoomIn col-xs-12 col-sm-3 col-md-3">
                        <p class="footer-heading">link</p>
                        <ul class="footermenu">
                            <li><a href="index.html">about us</a></li>
                            <li><a href="index.html">services</a></li>
                            <li><a href="index.html">product</a></li>
                            <li><a href="index.html">team</a></li>
                            <li><a href="index.html">blog</a></li>
                        </ul>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                    <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                        <p class="footer-heading">find us</p>
                        <ul class="footercontact">
                            <li><i class="flaticon-mainpage"></i><span>address:</span> One TECHGUT loop, 54100</li>
                            <li><i class="flaticon-phone16"></i><span>phone:</span><a href="tel:88 02 8714612"> +88 02 8714612</a></li>
                            <li><i class="flaticon-email21"></i><span>e-mail:</span><a href="mailto:support@themerole.com"> support@themerole.com</a></li>
                            <li><i class="flaticon-world91"></i><span>web:</span><a href="http://themerole.com/"> www.themerole.com</a></li>
                        </ul>
                        <i class="flaticon-home78"></i>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                    <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                        <p class="footer-heading">recent posts</p>
                        <ul class="footerblog">
                            <li><a href="#">The Green Fields of Spring</a> <p>13th Jun 2014</p></li>
                            <li><a href="#">This is a Video Post</a> <p>18th Nov 2014</p></li>
                            <li><a href="#">Satisfaction Lies in the Effort</a> <p>13th Jun 2014</p></li>
                        </ul>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="wow zoomIn col-xs-12">
                        <p>© 2015 All rights reserved. <span>techgut</span> theme by <a href="http://themerole.com">themerole</a></p>
                        <div class="backtop  pull-right">
                            <i class="fa fa-angle-up back-to-top"></i>
                        </div>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.creditwrapper -->
    </footer><!-- /Footer -->

    <!-- MMENU  -->
    <nav id="menu">
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="index.html">about us</a></li>
            <li><a href="index.html">services</a></li>
            <li><a href="index.html">product</a></li>
            <li><a href="index.html">team</a></li>
            <li><a href="index.html">blog</a>
                <ul>
                    <li><a href="blog-full-width.html">full width blog</a></li>
                    <li><a href="#">sidebar blog</a></li>
                </ul>
            </li>
            <li><a href="index.html">contact</a></li>
        </ul>
    </nav><!-- /#menu -->

</div><!-- /.main -->



<!-- jQuery JS -->
<script src="js/jquery-1.11.1.js"></script>

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>

<!--Bootatrap JS-->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- REVOLUTION Slider  -->
<script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>

<!-- Shuffle JS -->
<script src="js/jquery.shuffle.min.js"></script>


<!-- mmenu -->
<script type="text/javascript" src="vendor/mmenu/js/jquery.mmenu.min.js"></script>

<!-- Owl Carosel -->
<script src="vendor/owl/js/owl.carousel.min.js"></script>
<script src="js/wow.min.js"></script>

<!-- waypoints JS-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<!-- Counterup JS -->
<script src="js/jquery.counterup.min.js"></script>

<!-- Easing JS -->
<script src="js/jquery.easing.min.js"></script>

<!-- Smooth Scroll JS -->
<script src="js/scrolling-nav.js"></script>
<script src="js/smoothscroll.min.js"></script>

<!-- Custom Script JS -->
<script src="js/script.js"></script>

<script>

    $(window).on('scroll', function(){
        if( $(window).scrollTop()>100 ){
            $('.navbar-default').addClass('navbar-fixed-top');
        } else {
            $('.navbar-default').removeClass('navbar-fixed-top');
        }
    });

</script>

</body>
</html>
