<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="./app/images/favicon.png"/>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>

<!-- Revolution css -->
<link rel="stylesheet" type="text/css" href="./app/vendor/rs-plugin/css/settings.css" media="screen"/>
<link rel="stylesheet" href="./app/vendor/rs-plugin/css/extralayer.css">

<!-- Flat icon css -->
<link rel="stylesheet" href="./app/vendor/flat-icon/flaticon.css">

<!-- Font awesome -->
<link rel="stylesheet" href="./app/vendor/font-awesome/css/font-awesome.min.css">

<!-- Owl Carosel css -->
<link rel="stylesheet" href="./app/vendor/owl/css/owl.carousel.css">
<link rel="stylesheet" href="./app/vendor/owl/css/owl.theme.default.css">
<link rel="stylesheet" href="./app/vendor/owl/css/owl.theme.css">

<!-- mmenu -->
<link type="text/css" rel="stylesheet" href="./app/vendor/mmenu/css/jquery.mmenu.css" />

<link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="./app/styles/hover.css" rel="stylesheet">
<link href="./app/styles/normalize.css" rel="stylesheet">
<link href="./app/styles/animate.css" rel="stylesheet">
<link href="./app/styles/style.css" rel="stylesheet">
<link href="./app/styles/responsive.css" rel="stylesheet">
