<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12">
                <p style="float: left">© 2015 All rights reserved. <span>techgut</span> theme by <a href="http://themerole.com">themerole</a></p>
                <button ng-if="showButton" type="button" class="btn btn-danger pull-right" ng-click="nextClick();">Continue <i class="fa fa-chevron-right"></i></button>
            </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.creditwrapper -->