<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<div class="main">
    <header  class="header-part">
        <div id="home">
            <!-- Fixed navbar -->
            <div class="navi navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <a href="#menu">
                            <button type="button" data-effect="st-effect-1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </a>
                        <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="TechGut"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse pull-right hidden-xs">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a class="page-scroll" href="index.html">Home</a></li>
                            <li> <a class="page-scroll" href="index.html">about us</a></li>
                            <li> <a class="page-scroll" href="index.html">services</a></li>
                            <li> <a class="page-scroll" href="index.html">product</a></li>
                            <li> <a class="page-scroll" href="index.html">team</a></li>
                            <li class="dropdown"> <a class="page-scroll drop dropdown-toggle" ata-toggle="dropdown" role="button" aria-expanded="false" href="index.html">blog</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="blog-full-width.html">full-width Blog</a></li>
                                    <li><a href="#">sidebar blog</a></li>
                                </ul>
                            </li>
                            <li><a class="page-scroll" href="index.html">Contact</a></li>
                            <!-- Search Block -->
                            <li>
                                <i class="search fa fa-search search-btn"></i>
                                <div class="search-open" style="display:none;" >
                                    <div class="input-group animated fadeInDown" >
                                        <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
                                    </div>
                                </div>
                            </li>
                            <!-- End Search Block -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div><!-- End of Nav -->
        </div>
    </header>

    <!--   Start Blog with Sidebar   -->

    <section class="blog-header section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="section-title">all blog post</h1>
                </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.blog-header -->


    <section class="blog-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="blog-content">
                        <div class="sidebar-blog-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img class="img-responsive" src="app/images/tyre-car-fade.jpg" alt="blog-image01"/>
                                </div>
                            </div><!-- row -->
                        </div><!-- sidebar-blog-content -->
                    </div><!-- blog-content -->

                    <div class="blog-content pagination-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="wow zoomIn col-xs-12 col-sm-10 col-sm-offset-2 ">
                                    <nav>
                                        <ul class="pagination  pagination-lg">
                                            <li>
                                                <a href="#" aria-label="Back">
                                                    <span aria-hidden="true">&larr; </span><small>Back</small>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" aria-label="Continue Confuiguring">
                                                    <small>Continue Confuiguring</small><span aria-hidden="true"> &rarr;</span>
                                                </a>
                                            </li>
                                        </ul><!-- pagination -->
                                    </nav>

                                </div>
                            </div><!-- row -->
                        </div><!-- container-fluid -->
                    </div><!-- /.pagination-content -->
                </div>

                <div class="wow zoomIn col-xs-12 col-sm-12 col-md-4 "> <!-- col-xs-12 col-sm-12 col-md-4  -->
                    <div class="sidebar">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                Choose a Service Contact
                             </a>
                            <a href="#" class="list-group-item">
                                <input type="radio" name="ServiceName" value="Service2">
                                3 year Service Plan
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="800" Style="color: black;font-weight: bold;">$800</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <input type="radio" name="ServiceName" value="Service3">
                                5 year Service Plans
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">$600</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                        </div><!-- /.list-group -->
                    </div><!-- sidebar -->
                    <div class="sidebar">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                Choose a Warantee
                            </a>

                            <a href="#" class="list-group-item">
                                <input type="radio" name="ServiceName" value="Service3">
                                1 year upto 60000 miles Extended
                                Warantee
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">$339</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <input type="radio" name="ServiceName" value="Service3">
                                2 year upto 100000 miles Extended
                                Warantee
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">$668</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <input type="radio" name="ServiceName" value="Service3">
                                3 year upto 120000 miles Extended
                                Warantee
                                <div Style="float:right;">
                                    <span name="ServicePrice " value="600" Style="color: black;font-weight: bold;">$998</span>
                                    <span title="Sample">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </span>
                                </div>
                            </a>
                        </div><!-- /.list-group -->
                    </div><!-- sidebar -->

                    </div><!-- blog-sidebar -->

                    <div>
                        <ul>
                            <li><a href="#">logo</a></li>
                            <li><a href="#">html</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">bootstrap</a></li>
                            <li><a href="#">css</a></li>
                            <li><a href="#">development</a></li>
                        </ul>
                    </div><!-- blog-sidebar -->
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section>


    <!-- footer -->
    <footer >
        <div class="footer-wrapper section-padding">
            <div class="container">
                <div class="row">
                    <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                        <a href="index.html"><img src="img/footer-logo.png" alt="TechGut"></a>
                        <p class="footer-content">Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                    <div class="wow zoomIn col-xs-12 col-sm-3 col-md-3">
                        <p class="footer-heading">link</p>
                        <ul class="footermenu">
                            <li><a href="index.html">about us</a></li>
                            <li><a href="index.html">services</a></li>
                            <li><a href="index.html">product</a></li>
                            <li><a href="index.html">team</a></li>
                            <li><a href="index.html">blog</a></li>
                        </ul>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                    <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                        <p class="footer-heading">find us</p>
                        <ul class="footercontact">
                            <li><i class="flaticon-mainpage"></i><span>address:</span> One TECHGUT loop, 54100</li>
                            <li><i class="flaticon-phone16"></i><span>phone:</span><a href="tel:88 02 8714612"> +88 02 8714612</a></li>
                            <li><i class="flaticon-email21"></i><span>e-mail:</span><a href="mailto:support@themerole.com"> support@themerole.com</a></li>
                            <li><i class="flaticon-world91"></i><span>web:</span><a href="http://themerole.com/"> www.themerole.com</a></li>
                        </ul>
                        <i class="flaticon-home78"></i>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                    <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                        <p class="footer-heading">recent posts</p>
                        <ul class="footerblog">
                            <li><a href="#">The Green Fields of Spring</a> <p>13th Jun 2014</p></li>
                            <li><a href="#">This is a Video Post</a> <p>18th Nov 2014</p></li>
                            <li><a href="#">Satisfaction Lies in the Effort</a> <p>13th Jun 2014</p></li>
                        </ul>
                    </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="wow zoomIn col-xs-12">
                        <p>© 2015 All rights reserved. <span>techgut</span> theme by <a href="http://themerole.com">themerole</a></p>
                        <div class="backtop  pull-right">
                            <i class="fa fa-angle-up back-to-top"></i>
                        </div>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.creditwrapper -->
    </footer><!-- /Footer -->

    <!-- MMENU  -->
    <nav id="menu">
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="index.html">about us</a></li>
            <li><a href="index.html">services</a></li>
            <li><a href="index.html">product</a></li>
            <li><a href="index.html">team</a></li>
            <li><a href="index.html">blog</a>
                <ul>
                    <li><a href="blog-full-width.html">full width blog</a></li>
                    <li><a href="#">sidebar blog</a></li>
                </ul>
            </li>
            <li><a href="index.html">contact</a></li>
        </ul>
    </nav><!-- /#menu -->

</div><!-- /.main -->



<!-- jQuery JS -->
<script src="js/jquery-1.11.1.js"></script>

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>

<!--Bootatrap JS-->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- REVOLUTION Slider  -->
<script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>

<!-- Shuffle JS -->
<script src="js/jquery.shuffle.min.js"></script>


<!-- mmenu -->
<script type="text/javascript" src="vendor/mmenu/js/jquery.mmenu.min.js"></script>

<!-- Owl Carosel -->
<script src="vendor/owl/js/owl.carousel.min.js"></script>
<script src="js/wow.min.js"></script>

<!-- waypoints JS-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<!-- Counterup JS -->
<script src="js/jquery.counterup.min.js"></script>

<!-- Easing JS -->
<script src="js/jquery.easing.min.js"></script>

<!-- Smooth Scroll JS -->
<script src="js/scrolling-nav.js"></script>
<script src="js/smoothscroll.min.js"></script>

<!-- Custom Script JS -->
<script src="js/script.js"></script>

<script>

    $(window).on('scroll', function(){
        if( $(window).scrollTop()>100 ){
            $('.navbar-default').addClass('navbar-fixed-top');
        } else {
            $('.navbar-default').removeClass('navbar-fixed-top');
        }
    });

</script>

</body>
</html>
